@import '../../styles/vars.scss';

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: $color--primary;
  height: 70px;
  display: flex;
  align-items: center;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer {
  margin-top: auto;
  background-color: $color--primary;
  height: 30px;
  display: flex;
  align-items: center;
  strong {
    text-align: center;
    display: block;
  }
}

//Dark theme styles
[data-theme='dark'] .header,
[data-theme='dark'] .footer {
  background-color: $color--secondary-dark-green;
}

@media (width <= 480px) {
  .footer {
    @include font-size(14px);
  }
}
