@import './normalize.scss';
@import './vars.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font2;
}

html,
body {
  font-family: $font2;
  scroll-behavior: smooth;
  background-color: $color--bg-white;
  @include font-size(16px);
  color: $color--black;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font1;
  font-weight: 700;
}
h1 {
  @include font-size(42px);
}
h2 {
  @include font-size(32px);
}
h3 {
  @include font-size(26px);
}
h4 {
  @include font-size(22px);
}
h5 {
  @include font-size(18px);
}
h6 {
  @include font-size(16px);
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  box-sizing: border-box;
}

.btn__primary {
  color: $color--white;
  background-color: $color--btn-red;
  border: none;
  cursor: pointer;
  padding: 10px 6px;
  border-radius: 20px;
}
.btn__primary:hover {
  opacity: 0.8;
}

.form_error_message {
  color: $color--btn-red;
  @include font-size(14px);
  margin-top: 4px;
  font-weight: bold;
}

[data-theme='dark'],
[data-theme='dark'] body {
  background-color: $color--bg-blue;
  color: $color--bg-white;
}
